<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add 
          name="TodoContext"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\nut\Source\Repos\university-outreach-workshops\ExampleWinApp\ExampleWinApp.Storage\TodoExampleDB.mdf;Integrated Security=True;Connect Timeout=30"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
